* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  body {
    text-align: center;
  }

  h1 {
    font-family: 'Sacramento', cursive;
    font-size: 20vh;
    font-weight: lighter;
  }

  h2 {
    font-family: 'Sacramento', cursive;
    font-size: 8vh;
    font-weight: lighter;
  }

  h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 3.5vh;
    letter-spacing: 0.05em;
  }

  p {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5vh;
    font-weight: lighter;
    letter-spacing: 0.05em;
  }

  img{
    object-fit: cover;
  }

  /* ================= Navbar ================= */

  .navbar {
    font-family: 'Megrim', cursive;
    height: 48px;
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
    z-index: 9999;
    margin: 0;
    padding: 0;
  }

  .satoko {
    float: left;
    padding: 0 15px;
    line-height: 48px;
    list-style: none;
  }

  .navbar li {
    float: right;
    padding: 0 15px;
    line-height: 48px;
    list-style: none;
  }

  .navbar a {
    color: #000;
  }

/* ================= Heading ================= */
  .heading {
    position: relative;
  }
  
  .headingText{
    color: white;
    padding: 8vh 4vh;
    background-color:rgba(129,171,160,0.8) ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

/* ================= About ================= */

  #about {
    padding: 10% 5%;
    color: #717171;
    
  }
  .aboutText {
    text-align: left;
  }

/* ================= Skill ================= */

#skill {
  padding: 15% 10%;
}

#skill h3 {
  padding: 5% 0;
}

#skill p {
  padding-bottom: 2%;
}

/* ================= Works ================= */

#works {
  background-color: #f3f0f1;
  padding: 10% 0;
  position: relative;
}

/* ================= Contact ================= */

#contact {
  height: 30em;
  background-size:cover;
  position: relative;
  color: #717171;
}


.contactText{
  padding: 15vh 2vh;
  background-color:#fff ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* ================= Footer ================= */

.footer {
  color: #717171;
}


.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}